<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DICOM Viewer</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!------ Cornerstone tools ------->
        <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
        <script src="https://cdn.jsdelivr.net/npm/cornerstone-math@0.1.6/dist/cornerstoneMath.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/cornerstone-core@2.2.4/dist/cornerstone.js"></script>
        <script
                src="https://cdn.jsdelivr.net/npm/cornerstone-web-image-loader@2.1.0/dist/cornerstoneWebImageLoader.js"></script>

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/cornerstone-tools@3.0.0-b.641/dist/cornerstoneTools.js"></script>
        <!-- Load Cornerstone libraries -->
        <script src="https://unpkg.com/dicom-parser@latest/dist/dicomParser.min.js"></script>
        <script src="https://unpkg.com/cornerstone-core/dist/cornerstone.min.js"></script>
        <script src="https://unpkg.com/cornerstone-tools/dist/cornerstoneTools.min.js"></script>
        <script
                src="https://cdn.jsdelivr.net/npm/cornerstone-wado-image-loader@3.0.6/dist/cornerstoneWADOImageLoader.min.js"></script>
        <script
                src="https://cdn.jsdelivr.net/npm/cornerstone-web-image-loader@2.1.1/dist/cornerstoneWebImageLoader.min.js"></script>
        <script
                src="https://cdn.jsdelivr.net/npm/cornerstone-file-image-loader@0.3.0/dist/cornerstoneFileImageLoader.min.js"></script>

</head>

<body>
        <header>
                <img src="{{ url_for('static', filename='logoFull.png') }}" alt="Company Logo" class="logo">
                <div class="button-container-wrapper">
                        <div class="button-container">
                                <!-- <button id="activateWwwc">Window / Level</button> -->
                                <button id="activateEnface" class="icon-button" onclick="selectFolder()"><img
                                                src="{{ url_for('static', filename='icons/ai.png') }}" alt="Enface"
                                                class="icon-img"><br>Enface</button>
                                <!-- <button id="activateEnface" class="icon-button" onclick="selectFolder()"><span
                                                class="material-icons">image</span><br>Enface</button> -->
                                <input type="file" id="folderInput" webkitdirectory directory style="display:none;"
                                        onchange="processFolder()" />
                                <button id="activateWwwc" class="icon-button"><span
                                                class="material-icons">contrast</span><br>Window / Level</button>
                                <button id="layout" onclick="toggleLayoutButton()" class="icon-button"><span
                                                class="material-icons">grid_view</span><br>Layout</button>
                                <div id="dropdownContent" class="hidden">
                                        <a href="#" onclick="createCanvases('1x1')">1 x 1</a>
                                        <a href="#" onclick="createCanvases('1x2')">1 x 2</a>
                                        <a href="#" onclick="createCanvases('1x3')">1 x 3</a>
                                        <a href="#" onclick="createCanvases('2x1')">2 x 1</a>
                                        <a href="#" onclick="createCanvases('2x2')">2 x 2</a>
                                        <a href="#" onclick="createCanvases('2x3')">2 x 3</a>
                                        <a href="#" onclick="createCanvases('3x1')">3 x 1</a>
                                        <a href="#" onclick="createCanvases('3x2')">3 x 2</a>
                                        <a href="#" onclick="createCanvases('3x3')">3 x 3</a>
                                </div>
                                <button id="activatePan" class="icon-button"><span
                                                class="material-icons">open_with</span><br>Pan</button>
                                <button id="activateZoom" class="icon-button"><span
                                                class="material-icons">zoom_in</span><br>Zoom</button>
                                <button id="activateInvert" class="icon-button"><span
                                                class="material-icons">invert_colors</span><br>Invert</button>
                                <button id="activateMagnify" class="icon-button"><span
                                                class="material-icons">search</span><br>Magnify</button>
                                <button id="activateRectangle" class="icon-button"><span
                                                class="material-icons">crop_square</span><br>Rectangle</button>
                                <button id="activateCircle" class="icon-button"><span
                                                class="material-icons">radio_button_unchecked</span><br>Circle</button>
                                <button id="activateElliptical" class="icon-button"><img
                                                src="{{ url_for('static', filename='icons/ellipse.png') }}"
                                                alt="Elliptical Roi" class="icon-img"><br>Elliptical</button>
                                <button id="activateArrowAnnotate" class="icon-button"><span
                                                class="material-icons">call_received</span><br>Arrow</button>

                                <button id="moreButton" onclick="toggleMoreButtons()" class="icon-button"><span
                                                class="material-icons">more_horiz</span><br>More</button>
                                <!-- <button id="saveToolData">Save Tool Data</button>
                                <button id="loadToolData">Load Tool Data</button> -->

                                <!-- Hidden buttons, revealed when "More" is clicked -->
                                <div id="moreMenu" class="hidden">
                                        <button id="activateRotate" class="icon-button"><span
                                                        class="material-icons">refresh</span><br>Rotate</button>
                                        <button id="activateLength" class="icon-button"><img
                                                        src="{{ url_for('static', filename='icons/ruler.png') }}"
                                                        alt="Length" class="icon-img"><br>Length</button>
                                        <button id="activateAngle" class="icon-button"><img
                                                        src="{{ url_for('static', filename='icons/angle.png') }}"
                                                        alt="Angle" class="icon-img"><br>Angle</button>
                                        <button id="activateCobbAngle" class="icon-button"><img
                                                        src="{{ url_for('static', filename='icons/cobangle.png') }}"
                                                        alt="Cobb Angle" class="icon-img"><br>Cobb</button>
                                        <button id="activateCrosshair" class="icon-button"><img
                                                        src="{{ url_for('static', filename='icons/crosshairs.png') }}"
                                                        alt="Crosshair" class="icon-img"><br>Crosshair</button>
                                        <button id="activateStackScroll" class="icon-button"><img
                                                        src="{{ url_for('static', filename='icons/layer.png') }}"
                                                        alt="StackScroll" class="icon-img"><br>StackScroll</button>
                                        <button id="activateCine" class="icon-button"><span
                                                        class="material-icons">play_arrow</span><br>Cine</button>
                                        <button id="activateErase" class="icon-button"><img
                                                        src="{{ url_for('static', filename='icons/eraser.png') }}"
                                                        alt="Eraser Icon" class="icon-img"><br>Erase</button>
                                        <button id="resetTools" class="icon-button"><span
                                                        class="material-icons">restart_alt</span><br>Reset</button>
                                </div>
                        </div>
                </div>
                <button id="addFile" class="icon-button"><span class="material-icons">add_circle</span><br>Add
                        File</button>
        </header>
        <div id="loader"
                style="display: none; position: fixed; top: 56%; left: 56%; transform: translate(-50%, -50%); z-index: 20;">
                <div id="overlay"
                        style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); filter: blur(10px);">
                </div>
                <div id="loader-container"
                        style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%) rotateX(0deg);">
                        <img src="{{ url_for('static', filename='logo.png') }}" alt="Loading"
                                style="width: 150px; height: 150px;">
                </div>
        </div>
        <!-- <h2>DICOM Viewer</h2> -->
        <div id="block">
                <!-- Loader -->

                <div id="sidebar">
                        <!-- Upload button beside File Preview -->
                        <div
                                style="display: flex; align-items: center; margin-bottom: 10px; justify-content: space-between;">
                                <h3>File Previews</h3>
                                <button id="openButton"
                                        style="padding: 8px 15px; font-size: 14px; cursor: pointer;">Open</button>
                        </div>
                        <div id="previewList">
                                {% for date, files in files_by_date.items() %}
                                <!-- <h4>{{ date }}</h4> -->
                                <div class="date-dropdown"
                                        style="border: 1px solid #ccc; margin: 15px 0 0px; padding: 5px; height: 25px !important; cursor: pointer;">
                                        <span style="margin-right: 10px;">{{ date }}</span>
                                        <span class="arrow">&#9662;</span> <!-- Down arrow -->
                                </div>
                                <div style="display: flex; flex-wrap: wrap; gap: 0; justify-content: flex-start;">
                                        {% for file in files %}
                                        <div class="previewSquare" draggable="true"
                                                data-url="{{ url_for('uploaded_file', date=date, filename=file) }}"
                                                style="flex: 0 1 calc(33.33% - 0px); max-width: calc(33.33% - 0px); height: calc(33.33% - 0px); border: 1px solid #ccc; padding: 0px; text-align: center; box-sizing: border-box;">
                                                <div class="draggable" draggable="true"
                                                        data-url="{{ url_for('uploaded_file', date=date, filename=file) }}">
                                                        <div id="preview-{{ loop.index }}"
                                                                style="width: 90%; height: 90%; position: relative;">
                                                        </div>
                                                        <input type="checkbox" class="image-checkbox"
                                                                style="position: absolute; bottom: 5px; right: 5px; z-index: 20; width: 15px; height: 15px; background-color: transparent;">
                                                </div>
                                        </div>
                                        {% endfor %}
                                </div>

                                {% endfor %}
                        </div>
                </div>
                <div id="dicomViewerContainer">
                </div>
        </div>
        <!-- Modal for File Upload -->
        <div id="uploadModal" class="modal hidden">
                <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <h2>Add File</h2>
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                                <input type="file" id="file" name="file"
                                        accept=".dcm, .jpg, .png, .jpeg, .tiff, .tif, .pdf">
                                <input type="submit" value="Add File">
                        </form>
                </div>
        </div>
        <style>
                @keyframes spinX {
                        0% {
                                transform: translate(-50%, -50%) rotateY(0deg);
                        }

                        50% {
                                transform: translate(-50%, -50%) rotateY(180deg);
                        }

                        100% {
                                transform: translate(-50%, -50%) rotateY(360deg);
                        }
                }

                /* Apply animation to loader */
                #loader-container img {
                        animation: spinX 2s linear infinite;
                }

                #overlay {
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                }
        </style>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="{{ url_for('static', filename='phase2.js') }}"></script>
</body>

</html>